/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 120px;
}

header {
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 18px;
    z-index: 1;
}

footer {
    margin-top: 40px;
    background-color: #1A1A1A;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

i {
    padding: 0 5px;
}

img {
    display: block;
}

h5 {
    margin-right: 15px;
}

/*Header*/
.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
}

.navbar>* {
    padding: 10px 0;
    width: 50%;
}

.navbar-link ul {
    display: flex;
    gap: 10px;
}

.navbar-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 30px;
}

/*Main*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.col {
    flex-basis: calc((100% / 3) - (40px / 3));
}

.photo-shop-base {
    width: 100%;
}

.card {
    position: relative;
    cursor: pointer;
}

.card .cl-black {
    color: black;
}

.bg-red {
    background-color: #FF0000;
    display: inline-block;
}

.bg-green {
    background-color: #008000;
    margin-left: 5px;
    display: inline-block;
}

.tag {
    padding: 3px 8px;
    font-weight: 600;
}

.discount {
    position: absolute;
    left: 0;
    bottom: 70px;
}

.heart {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    padding: 5px 10px;
    font-size: 40px;
}

.cl-red {
    color: red;
    font-weight: 600;
}

.crossed {
    margin-left: 5px;
    text-decoration: line-through;
}

.photo-shop-particular {
    width: 100%;
    display: none;
}

.card:hover .photo-shop-base {
    display: none
}

.card:hover .photo-shop-particular {
    display: block;
}

/*footer*/
.social {
    text-align: right;
}

/*Utils*/
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.border {
    border: 2px dashed black;
}

.mg-down {
    margin-bottom: 5px;
}